/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	width: 100vw;
	position: relative;
}

.modale-back{
	height: 100%;
	width: 100vw;
	background-color: black;
	opacity: 0.4;
	position: absolute;
	z-index: 10;
}

.modale{
	position: absolute;
	background-color: white;
	opacity: 1;
	border-radius: 10px;
	width: 630px;
	height: 731px;
	transform: translate(50%, 80%);
	z-index: 12;
}

.modale-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modale-container h2{
	margin-top: 2em;
	margin-bottom: 2em;
	position: relative;
}

.gallery-photo{
	width: 70%;
	display: grid;
	grid-template-columns: 18% 18% 18% 18% 18%;
	gap: 5px;
	justify-content: center;
	margin-bottom: 3em;
}


#modale-photos{
	width: 78px;
	height: 109px;
}

.photos-card  {
	margin-bottom: 1em;
	position: relative;
}

.bin {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0.5em;
	font-size: 10px;
	color: white;
	background-color: black;
	border-radius: 2px;
	padding: 5px;
}

.line {
	width: 421px;
	height: 0.5px;
	background: grey;
	margin-bottom: 2.5em;
}

.modale p {
	color: red;
}

#cross-icon {
	text-align: right;
	margin: 1em;
	position: absolute;
	top: 0;
}

.add-photo{
	visibility: hidden;
	display: flex;
	flex-direction: column;
}

#cross-icon {
	right: 0;
	z-index: 25
	;
}


i {
	cursor: pointer;
}
ol, ul {
	list-style: none;
}
a:visited {
	color: inherit;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

#modify-bar{
	width: 100vw;
	height: 59px;
	background-color: black;
	color: whitesmoke;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

#modify-bar i{
	margin-right: 10px;
}

.modify{
	text-align: center;
	width: 216px;
	height: 38px;
	border: none;
	background-color: white;
	color: black;
	padding: 5px 10px;
	border-radius: 60px;
	font-family: 'work sans';
	font-style: normal;
	font-weight: 700;
	font-size: 0.8rem;
	line-height: 19px;
	text-align: center;
}

.modify:hover{
	letter-spacing: 0.5px;
	transition: 0.2s;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}


nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
	margin-top: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.title-projet{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	margin: 0;
}

#filter-btn {
	text-align: center;
	margin-top: 1em;
}

.btn{
	border: 1px solid #1D6154;
	outline: none;
	color: #1D6154;
	padding: 5px 10px;
	margin: 0.2rem;
	margin-bottom: 2em;
	border-radius: 60px;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
}

.btn:focus{
	border: 1px solid #1D6154;
	color: whitesmoke;
	background: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact, #form-container {
	width: 50%;
	margin: auto;
}
#contact > *, #form-container > * {
	text-align: center;

}
#contact h2, #form-container h2{
	margin-bottom: 20px;
}
#contact form, #form-container form{
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #form-container input {
	height: 51px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #form-container label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	resize: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#form-container a{
	text-align: center;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

.form-container h2 {
	font-family: 'Syne';
	font-weight: 700;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

